doctype html
html(lang="en")
    head
        include partials/head
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta en UpTask

            form#formulario.caja.caja-login( method="post" action="/create-account" )

                .campo
                    label( for="email" ) Correo:
                    input( type="text" name="email" placeholder="evasofia@correo.co" value=`${ values && values.email ? values.email : '' }` )
                if errors && errors.email && errors.email.length > 0
                    .campo-error
                        .alerta-error #{ errors.email[0]['message'] }
                .campo
                    label( for="password" ) Contraseña:
                    input( type="password" name="password" placeholder="*********" value=`${ values && values.password ? values.password : '' }` )
                if errors && errors.password && errors.password.length > 0
                    .campo-error
                        .alerta-error #{ errors.password[0]['message'] }

                .campo.enviar
                    input.boton(type="submit" value="Crear cuenta")
                .campo 
                    a( href="/login" ) Volver a iniciar sesión

        script( src="/dist/bundle.js" )