doctype html
html(lang="en")
    head
        include partials/head
    body.login
        .contenedor-formulario
            h1 Inicia sesión en UpTask

            form#formulario.caja.caja-login( method="post" action="/login" )

                .campo
                    label( for="email" ) Correo:
                    input( type="text" name="email" placeholder="evasofia@correo.co" value=`${ values && values.email ? values.email : '' }` )
                .campo
                    label( for="password" ) Contraseña:
                    input( type="password" name="password" placeholder="*********" value=`${ values && values.password ? values.password : '' }` )

                .campo.enviar
                    input.boton(type="submit" value="Iniciar sesión")
                .campo 
                    a( href="/create-account" ) Crear cuenta