extends ../layout
include ../mixins/form-project

block main_content
    .contenido-principal
        h1 #{ name_page }
        pre #{ vardump( project ) }
        if errors
            each error in errors
                .alerta=error.nombre

        +formProject( project )
            