extends ../layout


block main_content
    .contenido-principal
        h1 #{ name_page }

        if errors
            each error in errors
                .alerta=error.nombre

        form.agregar-proyecto( action="/new-project" method="post" ) 
            .campo
                label( for="project_name" ) Nombre proyecto:
                input( type="text" id="nombre" name="project_name" placeholder="Nombre del proyecto" )
            .campo.enviar
                input(type="submit" value="agregar" class="boton")
            